{% extends "base/base.html" %}

{% block title %}All Recipes{% endblock title %}

{% block body %}
<h1>All Recipes</h1>


<div class="recipe-list">

    {% for recipe in list_all_recipes %}
    <a href="{% url 'recipe:recipe-description' recipe.id %}">
        <div class="recipe-card">
            <h2  >{{ recipe }}</h2>
            {% if recipe.image %}
                <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" class="recipe-img">
            {% endif %}
           
        </div>
    </a>
    {% endfor %}

</div>


{% endblock body %}
