<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Music Store 🎶</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/artist_detail.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">

  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Poppins:wght@500;800&display=swap" rel="stylesheet">

  
  
</head>
<body>

  <nav>
    <div class="logo">Music Store</div>
    <div>
      <a href="{% url 'albums:home-page' %}">Home</a>
      <a href="{% url 'artists:artist-list' %}">Artists</a>
      <a href="{% url 'albums:album-list' %}">Albums</a>
    </div>
  </nav>

  {% block hero %}{% endblock hero %}

  <div class="container">
    {% block content %}{% endblock content %}
  </div>

  <footer>
    <p>&copy; 2025 Music Store | Inspired by Sony Music</p>
    <a href="#">Facebook</a> | <a href="#">Twitter</a> | <a href="#">Instagram</a>
  </footer>
</body>
</html>
