{% extends 'base/base.html' %}
{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
  <p style="margin-top:1rem;">
  {% if user.is_authenticated and movie.added_by == user %}
    <a class="button" href="{% url 'movies:movie-edit' movie.pk %}">Edit</a>
    <a class="button" href="{% url 'movies:movie-delete' movie.pk %}">Delete</a>
  {% elif not movie.added_by %}
    <p> no permision to do anything</p>
  {% endif %}
</p>

    <div>
      <h2>{{ movie.title }}</h2>
      <p><strong>Director:</strong> {{ movie.director }}</p>
      <p><strong>Released:</strong> {{ movie.release_date }}</p>
      <p><strong>Genre:</strong> {{ movie.get_genre_display }}</p>
      <p>{{ movie.description|linebreaks }}</p>

      <p style="margin-top:1rem;">
        <a class="button" href="{% url 'movies:movie-edit' movie.pk %}">Edit</a>
        <a class="button" href="{% url 'movies:movie-delete' movie.pk %}">Delete</a>
      </p>
    </div>
  </div>
  <p><a href="{% url 'movies:movie-list' %}">Back to list</a></p>
{% endblock %}